<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form action="/Bps/login" method="post">
    <label for="empCode">Employee Code:</label><br>
    <input type="text" id="empCode" name="empCode"><br>
    <label for="empPw">Password:</label><br>
    <input type="password" id="empPw" name="empPw"><br><br>
    <input type="submit" value="Login">
</form>
</body>
</html>
